<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/subLayout}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Asia CSCON25scirpt | Xs-Chain</title>
	<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700&family=Poppins:wght@400;600;800&display=swap" rel="stylesheet">
	<script  src="https://code.jquery.com/jquery-latest.min.js"></script>
	<link rel="stylesheet" href="../static/css/style.css">
	
</head>
<body layout:fragment="content">
	<div th:fragment="luckydraw-content" class="luckydraw-section">
		<div class="subCont">
			<div class="container content">
				<section>
					<h2 class="subTop_title blue">Lucky Draw</h2>
				</section>
			</div>
			<div class="container content show">
				<section class="content show">
					<div class="luckyImgTop">
						<div class="giftArea">
							<div class="gift">
								<img src="../static/img/lucky01.png" alt="img">
								<p>갤럭시 폴드7</p>
							</div>
							<div class="gift">
								<img src="../static/img/lucky02.png" alt="img">
								<p>무선 청소기 세트</p>
							</div>
							<div class="gift">
								<img src="../static/img/lucky03.png" alt="img">
								<p>뮤직프레임</p>
							</div>
							<div class="gift">
								<img src="../static/img/lucky04.png" alt="img">
								<p>블루스카이</p>
							</div>
							<div class="gift">
								<img src="../static/img/lucky05.png" alt="img">
								<p>무빙스타일</p>
							</div>
						</div>
						<div class="luckyLogo">
							<img src="../static/img/sponsor/samsung.png" alt="KMAC" style="max-width: 100%;width: 440px;">
						</div>
					</div>
					<div class="luckyImgBot">
						<div class="giftArea">
							<div class="gift">
								<img src="../static/img/lucky2_01.png" alt="img">
								<p>온수매트(5개)</p>
								<div class="luckyLogo">
									<img class="small" src="../static/img/sponsor/event02.png" alt="KMAC">
								</div>
							</div>
							<div class="gift">
								<img src="../static/img/lucky2_02.png" alt="img">
								<p style="text-align: center;">여행상품권<br/>(500만원 상당)</p>
								<div class="luckyLogo">
									<img class="small" src="../static/img/sponsor/event08.png" alt="KMAC">
								</div>
							</div>
							<div class="gift">
								<img src="../static/img/lucky2_03.png" alt="img">
								<p>에브리타임(20포)</p>
								<div class="luckyLogo">
									<img src="../static/img/sponsor/event09.png" alt="KMAC">
								</div>
							</div>
							<div class="gift">
								<img src="../static/img/lucky2_04.png" alt="img">
								<p>기프트카드(1만원)</p>
								<div class="luckyLogo">
									<img src="../static/img/sponsor/event03.png" alt="KMAC">
								</div>
							</div>
							<div class="gift">
								<img src="../static/img/lucky2_05.png" alt="img">
								<p>국내선항공권</p>
								<div class="luckyLogo">
									<img src="../static/img/sponsor/sponsor06.png" alt="KMAC">
								</div>
							</div>
							<div class="gift">
								<img src="../static/img/lucky2_06.png" alt="img">
								<p>렌터카이용권</p>
								<div class="luckyLogo">
									<img src="../static/img/sponsor/event04.png" alt="KMAC">
								</div>
							</div>
						</div>
					</div>
					<div class="programCont">
						<h3>
							<span class="history"></span>
							Lucky Draw 일정
						</h3>
						<div class="tbl_wrap drawTbl">
							<table class="luckytable">
								<caption>tit</caption>
								<thead>
									<tr>
										<th>구분</th>
										<th>시간</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>메인 추첨</td>
										<td><p class="gradient">09:30 ~ 09:40</p></td>
									</tr>
									<tr>
										<td>추가 추첨</td>
										<td>11:00 ~ 11:10</td>
									</tr>
								</tbody>
							</table>
							<p class="caption">
								<dl>
									<dd>* 메인 추첨은 오전 9:00 이전까지 참석한 참가자에 한해 진행됩니다.</dd>
									<dd>* 추첨 행사 외에도  K-Food, K-Culture 부스는 행사 시간 동안 계속 운영됩니다.</dd>
								</dl>
							</p>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
<script type="text/javascript" src="../static/js/script.js?v=250828"></script>
</body>
</html>