@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/npm/@mdi/font@7.4.47/css/materialdesignicons.min.css");
/* bloomcity-N1 [ZtLUW9M6cF] */
button {
  width: 200px;
  height: 50px;
  text-align: center;
  border-radius: 50px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  position: relative;
  overflow: hidden;
}
button.btn_blue_d {
  background-color: #1F3348;
  color: #fff;
}
button.btn_blue_d.line {
  background-color: initial;
  border: 1px solid #1F3348;
  color: #1F3348;
}
button.btn_blue {
  background-color: #1169AF;
  color: #fff;
}
button.btn_blue.line {
  background-color: initial;
  border: 1px solid #1169AF;
  color: #1169AF;
}
button.btn_green {
  background-color: #29A578;
  color: #fff;
}
button.btn_green.line {
  background-color: initial;
  border: 1px solid #29A578;
  color: #29A578;
}
button.btn_red {
  background-color: #af1111;
  color: #fff;
}
button.btn_red.line {
  background-color: initial;
  border: 1px solid #af1111;
  color: #af1111;
}
button.btn_gray {
  background-color: #E8E8E8;
  color: #818181;
}
button.btn_black {
  background-color: #333;
  color: #fff;
}
button.btn_black.line {
  background-color: initial;
  border: 1px solid #333;
  color: #333;
}
button.small_btn {
  width: 70px;
  height: 35px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 400;
}
button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s;
  opacity: 1;
  transform: translate(-105%, 0);
  background-color: rgba(255, 255, 255, 0.8);
}
button:hover:before {
  opacity: 0;
  transform: translate(0, 0);
}

.top_wrap {
  z-index: 5000;
  position: sticky;
  top: 0;
  min-height: auto;
  width: 100%;
  background-color: var(--white);
  border-bottom: 1px solid #c2c2c2;
}
.top_wrap .header-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
  height: 12rem;
  margin: 0 auto;
  /* padding: 0 8rem; */
  z-index: 200;
}
.top_wrap .header-title {
  margin-bottom: 0;
}
.top_wrap .header-title a {
  width: 20rem;
}
.top_wrap .header-title img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.top_wrap .menu_wrap {
  display: flex;
  justify-content: center;
}
.top_wrap .menu_wrap li {
  position: relative;
}
.top_wrap .header-gnblink {
  padding: 4.7rem 3rem;
  font-size: var(--fs-p1);
  font-family: var(--ff-gm);
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
}
.top_wrap .header-gnblink span {
  position: relative;
}
.top_wrap .header-gnblink span::after {
  content: "";
  height: 0.2rem;
  width: 5rem;
  transition: 0.3s;
  transform: scaleX(0);
}
.top_wrap .menu_list {
  min-height: 0;
  position: absolute;
  top: 100%;
  transition: 0.3s;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  width: 100%;
  border: 1px solid #c2c2c2;
  border-top: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.top_wrap .head_menu:hover .menu_list {
  min-height: auto;
  opacity: 1;
  overflow: hidden;
  pointer-events: auto;
}
.top_wrap .head_menu:hover .header-gnblink span::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 350%;
  background-color: var(--info);
  transform: scaleX(1);
  transform: translate(-50%, 0);
}
.top_wrap .menu_link {
  width: 100%;
  background-color: var(--white);
  overflow: hidden;
}
.top_wrap .menu_link a {
  width: 100%;
  padding: 1rem 2rem;
  font-size: var(--fs-p2);
  font-weight: 500;
  text-align: center;
  position: relative;
}
.top_wrap .menu_link a:hover {
  color: var(--info);
}
.top_wrap .menu_link a span {
  position: relative;
}
.top_wrap .menu_link a span::after {
  content: "";
  height: 0.2rem;
  width: 100%;
  transition: 0.3s;
  transform: scaleX(0);
}
.top_wrap .menu_link a:hover span::after {
  content: "";
  display: inline-block;
  background-color: var(--info);
  transform: scaleX(1);
  position: absolute;
  left: 0;
  top: 100%;
}
.top_wrap .menu_link a span i {
  position: absolute;
  top: 0;
  right: -1rem;
  width: 0.6rem;
  height: 0.6rem;
  background-color: var(--info);
  border-radius: 0.6rem;
  opacity: 0;
  transition: 0.3s;
}
.top_wrap .menu_link a:hover span i {
  opacity: 1;
}

/* .top_wrap .header-center { position: absolute; top: 0; left: 50%; transform: translateX(-50%); } */
.main_wrap {
  width: 100%;
  height: 100vh;
  position: relative;
}
.main_wrap .main_bg {
  background: url(../images/mainBg.png) 0 0px no-repeat;
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  background-size: cover;
}

.main_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main_content .main_content_wrap {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  min-width: 1440px;
  max-width: 1440px;
  box-sizing: border-box;
  padding: 40px 20px 20px 20px;
  border-radius: 20px;
}
.main_content .main_content_wrap .main_tit {
  position: relative;
  text-align: center;
}

/* .main_content .main_content_wrap .main_tit h2{text-align: center; font-size: 3.6rem; height: 3.6rem; background: linear-gradient(307deg, #cbd2e7 30%, #099fe2 50%, #cbd2e7 70%); color: transparent; -webkit-background-clip: text; position: relative; z-index: 2;}
.textShadow{text-shadow: 3px 5px 3px rgba(0, 0, 0, 0.5); font-size: 3.6rem; height: 3.6rem; position: absolute; top: 0; left: 50%; transform: translate(-50%, 0); color: transparent; z-index: 1;} */
.main_text {
  margin: 40px 0 0 0;
  box-sizing: border-box;
  padding: 0 2rem;
}
.main_text .main_ex {
  margin: 0 0 20px 0;
  display: flex;
  align-items: flex-start;
}
.main_text .main_ex > h2 {
  font-size: 1.8rem;
  color: var(--sky);
  position: relative;
  white-space: nowrap;
}
.main_text .main_ex > h2::before {
  content: "";
  width: 0.5rem;
  height: 100%;
  background-color: var(--info);
  display: inline-block;
  position: absolute;
  left: -1rem;
  border-radius: 1rem;
}
.main_text .main_ex > p {
  color: var(--white);
  font-size: 1.4rem;
  margin: 0 0 0 2rem;
}
.main_text .main_ex .plan {
  margin: 0 0 0 2rem;
}
.main_text .main_ex .plan ul {
  display: flex;
}
.main_text .main_ex .plan ul li {
  display: inline-block;
  position: relative;
  margin: 0 0 0 2rem;
}
.main_text .main_ex .plan ul li:last-child p::after {
  display: none;
}
.main_text .main_ex .plan ul li p {
  background-color: var(--blue);
  width: 12.5rem;
  border-top-left-radius: 10rem;
  border-bottom-left-radius: 10rem;
  color: var(--white);
  font-size: 1.6rem;
  text-align: center;
  box-sizing: border-box;
  padding: 5px 0;
  position: relative;
}
.main_text .main_ex .plan ul li p::after {
  content: "\f0536";
  font-family: "Material Design Icons";
  position: absolute;
  right: -2rem;
  rotate: 90deg;
  color: var(--blue);
}
.main_text .main_ex .plan ul li span {
  text-align: center;
  color: var(--white);
  width: 100%;
  display: block;
  margin: 5px 0 0 0;
}
.main_text > .main_ex:first-child p {
  font-size: 2rem;
  font-weight: 600;
}
.main_text .halfMain .main_ex p span {
  font-size: 1.2rem;
}

.main_ex_wrap {
  display: flex;
  justify-content: space-between;
}
.main_ex_wrap .halfMain {
  box-sizing: border-box;
}
.main_ex_wrap .halfMain.mainLeft {
  border-right: 1px solid #fff;
  width: 40%;
}
.main_ex_wrap .halfMain.mainRight {
  width: 55%;
}

.tbl_wrap {
  margin: 0 0 0 20px;
  width: 100%;
}

.tblLeft {
  border-collapse: separate;
  width: calc(100% - 20px);
}
.tblLeft tr td {
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 5px;
}
.tblLeft tr th {
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 5px;
}
.tblLeft tr th.top_th {
  background-color: #96d2d4;
  color: #333;
}
.tblLeft tr th.left_th {
  background-color: rgba(150, 210, 212, 0.5);
}
.tblLeft tr td {
  background-color: #5e6eb1;
}
.tblLeft tr td.row_td {
  writing-mode: vertical-lr;
  background-color: #7e88c2;
}

.right_tbl_wrap {
  display: flex;
}

.right_tbl h2 {
  font-size: 18px;
  margin: 0 0 10px 0;
}

.right_tbl1 h2 {
  color: #96d2d4;
}

.right_tbl2 h2 {
  color: #dae6f6;
}

.right_tbl.right_tbl1 {
  margin: 0 20px 0 0;
}

.right_tbl1 table thead, .right_tbl1 table tfoot {
  background-color: rgba(150, 210, 212, 0.6);
}

.right_tbl2 table thead, .right_tbl2 table tfoot {
  background-color: #7e88c2;
}

.right_tbl table thead tr th, .right_tbl table tbody tr td {
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 5px;
}
.right_tbl table tfoot tr th {
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 5px;
  border-right: 1px solid #fff;
}
.right_tbl table tfoot tr th:last-child {
  border: 0;
}
.right_tbl table tbody tr td {
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  font-weight: 400;
}
.right_tbl table tbody tr td:last-child {
  border-right: 0;
}
.right_tbl table tbody tr:first-child td {
  border-top: 1px solid #fff;
}
.right_tbl table thead tr th {
  border-right: 1px solid #fff;
}
.right_tbl table thead tr th:last-child {
  border-right: 0;
}

.footer {
  background-color: #fff;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 40px 0;
}
.footer ul li {
  display: inline-block;
  margin: 0 20px;
}
.footer ul li img {
  height: 30px;
}

/* 서브페이지 */
.sub_banner {
  width: 100%;
}
.sub_banner img {
  width: 100%;
}

.sub_content {
  background-color: #f8f8f8;
  padding: 40px 0;
}

.tab-container {
  width: 1440px;
  margin: 0 auto;
  margin: 30px auto;
  padding: 40px;
  border-top: none;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
}

.container {
  width: 1440px;
  margin: 0 auto;
  margin: 30px auto;
  padding: 40px;
  border-top: none;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
}

.page_title {
  margin: 0 0 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page_title h2 {
  color: #121212;
  font-size: 24px;
}

.gray_box {
  width: 100%;
  background-color: #F6F6F6;
  display: flex;
  justify-content: center;
  margin: 0 0 20px 0;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 10px;
}
.gray_box input {
  margin: 0 20px;
  width: 450px;
  height: 50px;
  padding: 0 20px;
  box-sizing: border-box;
  border-radius: 50px;
  border: 1px solid #c4c4c4;
}
.gray_box select {
  width: 200px;
  border: 1px solid #c4c4c4;
  border-radius: 50px;
  height: 50px;
  box-sizing: border-box;
  padding: 0 10px;
}
.gray_box button {
  width: 150px;
}

.tabs {
  overflow: hidden;
  text-align: center;
}
.tabs .tab_btns {
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  width: 700px;
  margin: 0 auto;
  border-radius: 50px;
}
.tabs .tab_btns .tab-link {
  background-color: #f8f8f8;
  cursor: pointer;
  padding: 15px 40px;
  transition: 0.3s;
  font-size: 16px;
  font-weight: 600;
  border-radius: 50px;
  width: 33.3333333333%;
  box-sizing: border-box;
}
.tabs .tab_btns .tab-link:hover, .tabs .tab_btns .tab-link.active {
  background-color: #1169AF;
  color: #fff;
}
.tabs .tab_btns.sub3 {
  width: 1300px;
}
.tabs .tab_btns.sub3 .tab-link {
  padding: 15px 20px;
}

.tab_content {
  display: none;
  padding: 40px;
}
.tab_content > h2 {
  font-size: 20px;
  position: relative;
  left: 20px;
  margin: 20px 0;
  font-weight: 600;
  color: #333;
}
.tab_content > h2::before {
  content: "";
  background: url(../images/sub_tit.png);
  width: 30px;
  height: 30px;
  display: inline-block;
  background-size: cover;
  position: absolute;
  top: -17px;
  left: -20px;
}
.tab_content .tab_ex {
  margin-bottom: 50px;
}
.tab_content .tab_ex > h2 {
  font-size: 18px;
  position: relative;
  margin: 20px 0 10px 0;
  left: 20px;
}
.tab_content .tab_ex > h2::before {
  content: "";
  background: url(../images/circle.png) 0 0 no-repeat;
  width: 10px;
  height: 10px;
  display: inline-block;
  background-size: cover;
  position: absolute;
  top: 45%;
  left: -15px;
  transform: translate(0, -50%);
}
.tab_content .tab_ex dl {
  margin: 20px 0 0 0;
}
.tab_content .tab_ex dl dt {
  font-size: 16px;
  font-weight: 600;
  position: relative;
  left: 20px;
}
.tab_content .tab_ex dl dt::before {
  content: "";
  background: url(../images/circle.png) 0 0 no-repeat;
  width: 10px;
  height: 10px;
  display: inline-block;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: -15px;
  transform: translate(0, -50%);
}
.tab_content .tab_ex dl dd {
  margin: 0 0 0 15px;
}
.tab_content .tab_ex dl dd .caption {
  margin: -5px 0 0 15px;
  display: block;
}
.tab_content .tab_ex dl dd a {
  color: #0075BF;
}
.tab_content .tab_ex dl dd a:hover {
  font-weight: 600;
}
.tab_content .tab_ex .noti_wrap li:first-child {
  border-top: 2px solid #272727;
}
.tab_content .tab_ex .noti_wrap li:last-child {
  border-bottom: 1px solid #C2C2C2;
}
.tab_content .tab_ex .noti_wrap .questionBox {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-top: 1px solid #C2C2C2;
  cursor: pointer;
}
.tab_content .tab_ex .noti_wrap .questionBox i {
  font-size: 20px;
  margin: 0 10px 0 0;
}
.tab_content .tab_ex .noti_wrap .questionBox p {
  color: #4F4F4F;
}
.tab_content .tab_ex .noti_wrap .questionBox p strong {
  color: #272727;
  margin: 0 20px;
  font-weight: 900;
}
.tab_content .tab_ex .noti_wrap .view {
  transition: max-height 0.3s ease-out, padding 0.3s ease-out;
  overflow: hidden;
  max-height: 0;
  background-color: #F8F8F8;
  padding: 0 40px;
}
.tab_content .tab_ex .noti_wrap .view.open {
  border-top: 1px solid #C2C2C2;
  max-height: 100px;
  padding: 15px 40px;
}
.tab_content .write_content h2 {
  font-size: 18px;
  position: relative;
  left: 20px;
  margin: 20px 0;
  font-weight: 400;
  color: #333;
}
.tab_content .write_content h2::before {
  content: "";
  background: url(../images/sub_tit.png);
  width: 30px;
  height: 30px;
  display: inline-block;
  background-size: cover;
  position: absolute;
  top: -15px;
  left: -20px;
}
.tab_content.active {
  display: block;
}
.tab_content .tab_box {
  background-color: #eaf1f6;
  padding: 20px;
  border-radius: 20px;
  box-sizing: border-box;
  display: inline-block;
  margin: 10px 0;
  width: 100%;
}
.tab_content .tab_box p {
  color: #234764;
  font-weight: 400;
}
.tab_content .tab_tbl {
  width: 100%;
  border-top: 3px solid #333;
}
.tab_content .tab_tbl table {
  width: 100%;
}
.tab_content .tab_tbl table tr th {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 30px;
}
.tab_content .tab_tbl table tr th:first-child {
  border-bottom: 1px solid #fff;
}
.tab_content .tab_tbl table tr td {
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding: 10px;
  background-color: #fff;
}
.tab_content .tab_tbl table tr td:last-child {
  border-right: 0;
}
.tab_content .caption {
  color: #808080;
  font-size: 14px;
  margin: 10px 0 0 0;
}
.tab_content .timeline .timeline_wrap {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}
.tab_content .timeline .timeline_wrap ul {
  width: calc(20% - 40px);
  margin: 0 0 10px 0;
  border-bottom: 3px solid #6aa1cd;
  position: relative;
}
.tab_content .timeline .timeline_wrap ul::after {
  content: "";
  background: url(../images/arrow.png) 0 0 no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  display: inline-block;
  position: absolute;
  right: -35px;
  top: 50%;
  transform: translate(0, 0);
}
.tab_content .timeline .timeline_wrap ul:last-child::after {
  display: none;
}
.tab_content .timeline .timeline_wrap ul li {
  text-align: center;
  padding: 10px 0;
}
.tab_content .timeline .timeline_wrap ul li:first-child {
  border-top: 3px solid #6aa1cd;
  border-bottom: 1px solid #6aa1cd;
  color: #2f7cb9;
  font-weight: 600;
}
.tab_content .timeline .timeline_wrap ul li:last-child {
  border-top: 1px solid #a8a8a8;
  color: #333;
  height: 73px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tab_content .agree_box {
  background-color: #f6f6f6;
  border: 1px solid #d3d3d3;
  padding: 30px;
  border-radius: 20px;
  margin: 20px 0 0 0;
}
.tab_content .agree_box p {
  color: #272727;
  font-weight: 600;
  margin: 20px 0 10px 0;
}
.tab_content .agree_box p:first-child {
  margin-top: 0;
}
.tab_content .agree_box span {
  color: #505050;
}
.tab_content .agree_btn {
  display: flex;
  margin: 10px 0 0 0;
  justify-content: space-between;
  align-items: center;
}
.tab_content .agree_btn input {
  margin: 0 5px 0 0;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.tab_content .agree_btn label {
  cursor: pointer;
}

.tab-link.active {
  font-weight: bold;
}

/* tab2 */
.write_content {
  display: none;
}
.write_content.active {
  display: block;
}

/* .write_content1 {
  display: block;
}
 */
.btn_wrap {
  width: 100%;
  text-align: center;
  margin: 20px 0 0 0;
}

.write_content2 .tab_order {
  width: 100%;
  margin: 20px auto;
}
.write_content2 .tab_order ul {
  display: flex;
  justify-content: center;
}
.write_content2 .tab_order ul li {
  width: 50px;
  height: 50px;
  background-color: #f2f2f2;
  color: #1169AF;
  text-align: center;
  line-height: 50px;
  border-radius: 50px;
  position: relative;
  margin: 0 25px;
}
.write_content2 .tab_order ul li.active {
  background-color: #fff;
  border: 2px solid #1169AF;
  color: #1169AF;
  width: 160px;
}
.write_content2 .tab_order ul li::after {
  content: "\f0374";
  position: absolute;
  color: #A8CAE5;
  right: -50px;
  font-size: 50px;
  font-family: "Material Design Icons";
}
.write_content2 .tab_order ul li:last-child:after {
  content: "";
}

.info_tbl {
  width: 100%;
}
.info_tbl.center {
  text-align: center;
}
.info_tbl.top_tbl thead {
  border-top: 3px solid #2c2c2c;
}
.info_tbl.top_tbl thead tr th {
  border-right: 1px solid #d8d8d8;
}
.info_tbl.top_tbl thead tr th:last-child {
  border-right: 0;
}
.info_tbl.left_tbl table tr:first-child {
  border-top: 3px solid #2c2c2c;
}
.info_tbl table {
  width: 100%;
}
.info_tbl table tr {
  border-bottom: 1px solid #d8d8d8;
}
.info_tbl table tr th {
  background-color: #f5f5f5;
  font-size: 14px;
  padding: 10px 20px;
  font-weight: 600;
  color: #272727;
}
.info_tbl table tr td {
  padding: 10px 20px;
  border-right: 1px solid #d8d8d8;
}
.info_tbl table tr td:last-child {
  border-right: 0;
}
.info_tbl table tr td textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
}
.info_tbl table tr td .email_group select {
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}
.info_tbl table tr td .teamone {
  margin: 10px 0 0 0;
  display: flex;
}
.info_tbl table tr td .teamone > div {
  margin: 0 20px 0 0;
  display: flex;
  align-items: center;
}
.info_tbl table tr td .teamone > div input {
  margin: 0 0 0 5px;
}
.info_tbl table tr td .teamone > div select {
  margin: 0 0 0 5px;
}
.info_tbl table tr td .teamone:first-child {
  margin: 20px 0 0 0;
}
.info_tbl table tr td .teamone input {
  width: 150px;
  margin: 0 0 0 5px;
}
.info_tbl table tr td input {
  font-size: 14px;
  border-radius: 10px;
  height: 30px;
  padding: 5px;
  border: 1px solid #e0e0e0;
  margin-right: 5px;
  /* Chrome, Safari, Edge, Opera */
}
.info_tbl table tr td input.email-domain {
  width: 150px;
}
.info_tbl table tr td input.add_address {
  margin-top: 10px;
  width: 50%;
}
.info_tbl table tr td input.tel {
  width: 60px;
}
.info_tbl table tr td input::-webkit-outer-spin-button, .info_tbl table tr td input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.info_tbl table tr td.radioSelect {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.info_tbl table tr td.radioSelect .radio {
  margin: 0 20px 0 0;
}
.info_tbl table tr td.radioSelect .radio label {
  margin: 0 20px 0 0;
}
.info_tbl table tr td.radioSelect .radio input[type=radio] {
  height: auto;
}
.info_tbl table tr td.radioSelect .radio.block {
  display: block;
  margin: 0 0 5px 0;
  width: 100%;
}
.info_tbl table tr td.radioSelect .radio.block input[type=text] {
  margin: 0 0 0 10px;
}
.info_tbl table tr td.radioSelect button {
  width: 150px;
  height: 30px;
  border-radius: 10px;
}
.info_tbl table tr td.sub_tit {
  background-color: #F8F9FB;
  color: #5F8CB0;
}

/* paging */
.paging_area {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 28px);
  margin: 20px auto 0 auto;
  position: relative;
}
.paging_area .paging {
  position: relative;
}
.paging_area .paging .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
.paging_area .paging .pagination a {
  font-size: 14px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
  color: #888888;
  transition: all 0.3s ease;
  margin: 0 5px;
  position: relative;
}
.paging_area .paging .pagination a.current {
  background-color: #E5F2FA;
  color: #0075BF;
}
.paging_area .paging .pagination a.icon {
  font-size: 0;
}
.paging_area .paging .pagination a.icon i {
  font-size: 20px;
  color: #1169AF;
  position: relative;
  top: -2px;
}
.paging_area .paging .pagination a.icon:hover i {
  color: #0075BF;
}

.pagination a:not(.current):hover {
  background-color: #E5F2FA;
  color: #0075BF;
}/*# sourceMappingURL=styleBackup.css.map */