@charset 'utf-8';
@import url('materialdesignicons.css');


/* MaterialDesignIcons.com */
@font-face {
	font-family: "Material Design Icons";   
	src: url("../fonts/materialdesignicons-webfont.eot?v=6.5.95");   
	src: url("../fonts/materialdesignicons-webfont.eot?#iefix&v=6.5.95") format("embedded-opentype"), 
		url("../fonts/materialdesignicons-webfont.woff2?v=6.5.95") format("woff2"), 
		url("../fonts/materialdesignicons-webfont.woff?v=6.5.95") format("woff"), 
		url("../fonts/materialdesignicons-webfont.ttf?v=6.5.95") format("truetype");  
	font-weight: normal;   
	font-style: normal;
}

/* λ…Έν†  μ‚°μ¤ */
@font-face {
      font-family: 'noto-sans-l';
      font-style: normal;
      font-weight: normal;
      src: local('Noto Sans Light'), local('NotoSans-Light'), url("../fonts/NotoSans-Light.eot");
      src: url("../fonts/NotoSans-Light.eot?#iefix") format('embedded-opentype'),
      url("../fonts/NotoSans-Light.woff2") format('woff2'),
      url("../fonts/NotoSans-Light.woff") format('woff');;
}

@font-face {
      font-family: 'noto-sans-r';
      font-style: normal;
      font-weight: normal;
      src: local('Noto Sans Regular'), local('NotoSans-Regular'), url("../fonts/NotoSans-Regular.eot");
      src: url("../fonts/NotoSans-Regular.eot?#iefix") format('embedded-opentype'),
            url("../fonts/NotoSans-Regular.woff2") format('woff2'),
            url("../fonts/NotoSans-Regular.woff") format('woff');
}

@font-face {
      font-family: 'noto-sans-m';
      font-style: normal;
      font-weight: normal;
      src: local('Noto Sans Medium'), local('NotoSans-Medium'), url("../fonts/NotoSans-Medium.eot");
      src: url("../fonts/NotoSans-Medium.eot?#iefix") format('embedded-opentype'),
            url("../fonts/NotoSans-Medium.woff2") format('woff2'),
            url("../fonts/NotoSans-Medium.woff") format('woff');
}

@font-face {
      font-family: 'noto-sans-b';
      font-style: normal;
      font-weight: normal;
      src: local('Noto Sans Bold'), local('NotoSans-Bold'), url("../fonts/NotoSans-Bold.eot");
      src: url("../fonts/NotoSans-Bold.eot?#iefix") format('embedded-opentype'),
            url("../fonts/NotoSans-Bold.woff2") format('woff2'),
            url("../fonts/NotoSans-Bold.woff") format('woff');
}